<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebcamApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WebcamApp.Properties.Settings>
            <setting name="CameraSizeMode" serializeAs="String">
                <value>Zoom</value>
            </setting>
            <setting name="MomentCaptureFrequencyIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomMomentCaptureFrequency" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CustomValueButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedCameraIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </WebcamApp.Properties.Settings>
    </userSettings>
</configuration>